@font-face {
    font-family: "flaticon_bexco-logistic";
    src: url("../fonts/pbmit-bexco-logistic-icon/flaticon_bexco-logistic.ttf?3196a26a4d1b88d5c995400a60e6de15") format("truetype"), url("../fonts/pbmit-bexco-logistic-icon/flaticon_bexco-logistic.woff?3196a26a4d1b88d5c995400a60e6de15") format("woff"), url("../fonts/pbmit-bexco-logistic-icon/flaticon_bexco-logistic.woff2?3196a26a4d1b88d5c995400a60e6de15") format("woff2"), url("../fonts/pbmit-bexco-logistic-icon/flaticon_bexco-logistic.eot?3196a26a4d1b88d5c995400a60e6de15#iefix") format("embedded-opentype"), url("../fonts/pbmit-bexco-logistic-icon/flaticon_bexco-logistic.svg?3196a26a4d1b88d5c995400a60e6de15#flaticon_bexco-logistic") format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" pbmit-bexco-logistic-icon-"]:before {
    font-family: flaticon_bexco-logistic !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-bexco-logistic-icon-delivery-box:before {
    content: "\f101";
}

.pbmit-bexco-logistic-icon-cargo-boat:before {
    content: "\f102";
}

.pbmit-bexco-logistic-icon-delivery-truck:before {
    content: "\f103";
}

.pbmit-bexco-logistic-icon-express:before {
    content: "\f104";
}

.pbmit-bexco-logistic-icon-delivery-man:before {
    content: "\f105";
}

.pbmit-bexco-logistic-icon-delivery:before {
    content: "\f106";
}

.pbmit-bexco-logistic-icon-delivery-truck-1:before {
    content: "\f107";
}

.pbmit-bexco-logistic-icon-delivery-1:before {
    content: "\f108";
}

.pbmit-bexco-logistic-icon-delivery-box-1:before {
    content: "\f109";
}

.pbmit-bexco-logistic-icon-box:before {
    content: "\f10a";
}

.pbmit-bexco-logistic-icon-delivery-2:before {
    content: "\f10b";
}

.pbmit-bexco-logistic-icon-container:before {
    content: "\f10c";
}

.pbmit-bexco-logistic-icon-hook:before {
    content: "\f10d";
}

.pbmit-bexco-logistic-icon-delivery-box-2:before {
    content: "\f10e";
}

.pbmit-bexco-logistic-icon-delivery-box-3:before {
    content: "\f10f";
}

.pbmit-bexco-logistic-icon-air-transport:before {
    content: "\f110";
}

.pbmit-bexco-logistic-icon-delivery-man-1:before {
    content: "\f111";
}

.pbmit-bexco-logistic-icon-logistic-delivery:before {
    content: "\f112";
}

.pbmit-bexco-logistic-icon-delivery-3:before {
    content: "\f113";
}

.pbmit-bexco-logistic-icon-crane:before {
    content: "\f114";
}

.pbmit-bexco-logistic-icon-train:before {
    content: "\f115";
}

.pbmit-bexco-logistic-icon-airplane:before {
    content: "\f116";
}

.pbmit-bexco-logistic-icon-airplane-1:before {
    content: "\f117";
}

.pbmit-bexco-logistic-icon-right-arrow:before {
    content: "\f118";
}

.pbmit-bexco-logistic-icon-parcel:before {
    content: "\f119";
}

.pbmit-bexco-logistic-icon-delivery-4:before {
    content: "\f11a";
}

.pbmit-bexco-logistic-icon-worldwide:before {
    content: "\f11b";
}

.pbmit-bexco-logistic-icon-best-price:before {
    content: "\f11c";
}

.pbmit-bexco-logistic-icon-warehouse:before {
    content: "\f11d";
}

.pbmit-bexco-logistic-icon-delivery-time:before {
    content: "\f11e";
}

.pbmit-bexco-logistic-icon-logistic:before {
    content: "\f11f";
}

.pbmit-bexco-logistic-icon-secure:before {
    content: "\f120";
}

.pbmit-bexco-logistic-icon-time:before {
    content: "\f121";
}

.pbmit-bexco-logistic-icon-boxes:before {
    content: "\f122";
}

.pbmit-bexco-logistic-icon-forklift:before {
    content: "\f123";
}

.pbmit-bexco-logistic-icon-drone-delivery:before {
    content: "\f124";
}

.pbmit-bexco-logistic-icon-truck-ultrathin-vehicle:before {
    content: "\f125";
}

.pbmit-bexco-logistic-icon-forklift-1:before {
    content: "\f126";
}

.pbmit-bexco-logistic-icon-parcel-1:before {
    content: "\f127";
}

.pbmit-bexco-logistic-icon-trolley:before {
    content: "\f128";
}