@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet');
:root {
    --pbmit-global-color: #0f78ff;
    --pbmit-secondary-color: #FF3333;
    --pbmit-light-color: #eff4f6;
    --pbmit-white-color: #ffffff;
    --pbmit-blackish-color: #091019;
    --pbmit-link-color-normal: #091019;
    --pbmit-link-color-hover: #0f78ff;
    --pbmit-global-color-rgb: 15, 120, 255;
    --pbmit-secondary-color-rgb: 252, 180, 7;
    --pbmit-responsive-breakpoint: 1200px;
    --pbmit-body-typography-font-family: 'Space Grotesk', sans-serif;
    --pbmit-body-typography-variant: regular;
    --pbmit-body-typography-font-size: 16px;
    --pbmit-body-typography-line-height: 1.8;
    --pbmit-body-typography-color: #666666;
    --pbmit-heading-typography-font-family: 'Space Grotesk', sans-serif;
    --pbmit-heading-color: #27272f;
    --pbmit-heading-font-variant: 500;
    --pbmit-btn-typography-font-family: 'Space Grotesk', sans-serif;
    --pbmit-btn-typography-variant: 500;
    --pbmit-btn-typography-font-size: 15px;
    --pbmit-btn-typography-line-height: 25px;
}

/*----------------------------------------*/

/* 01 - Typography 
/*----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--pbmit-heading-typography-font-family);
    font-weight: normal;
    color: var(--pbmit-heading-color);
}

.pbmit-btn {
    font-family: var(--pbmit-heading-typography-font-family);
    font-weight: var(--pbmit-btn-typography-variant);
    font-size: var(--pbmit-btn-typography-font-size);
    line-height: var(--pbmit-btn-typography-line-height);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-style: normal;
    padding: 14px 35px;
}